In [1]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
data = pd.read_csv('../ninja-reimplementation/data/wind_data/UK/renewable_power_plants_UK_filtered.csv')

In [16]:
data

,electrical_capacity,energy_source_level_1,energy_source_level_2,energy_source_level_3,technology,data_source,nuts_1_region,nuts_2_region,nuts_3_region,lon,...,country,commissioning_date,solar_mounting_type,chp,capacity_individual_turbine,number_of_turbines,site_name,uk_beis_id,operator,comment
0,1.3,Renewable energy,Wind,NaN,Onshore,BEIS,UKE,UKE2,UKE22,-1.914154,...,England,1992-01-06,NaN,NaN,0.3,4,Chelker Reservoir,2921,Yorkshire Water,NaN
1,2.7,Renewable energy,Wind,NaN,Onshore,BEIS,UKC,UKC2,UKC21,-1.495191,...,England,1992-01-12,NaN,NaN,0.3,9,Blyth Harbour Wind Farm,3659,Border Wind Farms Ltd,NaN
2,31.0,Renewable energy,Wind,NaN,Onshore,BEIS,UKL,UKL2,UKL24,-3.430831,...,Wales,1993-01-01,NaN,NaN,0.3,103,Llandinam Windfarm,3057,CELTPOWER LTD,NaN
3,4.8,Renewable energy,Wind,NaN,Onshore,BEIS,UKD,UKD1,UKD12,-3.135725,...,England,1993-01-01,NaN,NaN,0.4,12,Kirkby Moor,2713,Npower Renewables,NaN
4,9.6,Renewable energy,Wind,NaN,Onshore,BEIS,UKD,UKD4,UKD46,-2.149984,...,England,1993-01-02,NaN,NaN,0.4,24,Coal Clough Wind Farm,3079,Renewable Energy Systems (RES),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,6.2,Renewable energy,Wind,NaN,Onshore,BEIS,UKH,UKH1,UKH12,-0.287708,...,England,2019-09-05,NaN,NaN,3.0,3,Common Barn Wind Farm,4076,TCI Renewables,NaN
774,88.4,Renewable energy,Wind,NaN,Onshore,BEIS,UKM,UKM9,UKM95,-4.036105,...,Scotland,2019-09-15,NaN,NaN,3.4,26,Kype Muir Wind Farm,4643,Banks Renewables,NaN
775,1.8,Renewable energy,Wind,NaN,Onshore,BEIS,UKL,UKL2,UKL23,-3.200769,...,Wales,2019-11-01,NaN,NaN,0.9,2,Kingspan,4790,Kingspan,NaN
776,29.9,Renewable energy,Wind,NaN,Onshore,BEIS,UKM,UKM6,UKM61,-4.373161,...,Scotland,2020-01-03,NaN,NaN,2.3,13,Coire Na Cloiche Wind Farm,3846,RockbySea,NaN
777,1200.0,Renewable energy,Wind,NaN,Offshore,BEIS,UKH,UKH1,UKH16,1.420739,...,England,2020-02-06,NaN,NaN,7.0,174,Hornsea 1 - Heron & Njord,2525,Orsted (formerly Dong Energy),NaN

In [17]:
columns = ['country','technology','lon','lat','electrical_capacity','number_of_turbines','capacity_individual_turbine', 'commissioning_date']

In [18]:
data = data[columns]
data

,country,technology,lon,lat,electrical_capacity,number_of_turbines,capacity_individual_turbine,commissioning_date
0,England,Onshore,-1.914154,53.962432,1.3,4,0.3,1992-01-06
1,England,Onshore,-1.495191,55.125438,2.7,9,0.3,1992-01-12
2,Wales,Onshore,-3.430831,52.442104,31.0,103,0.3,1993-01-01
3,England,Onshore,-3.135725,54.257491,4.8,12,0.4,1993-01-01
4,England,Onshore,-2.149984,53.749662,9.6,24,0.4,1993-01-02
...,...,...,...,...,...,...,...,...
773,England,Onshore,-0.287708,52.277348,6.2,3,3.0,2019-09-05
774,Scotland,Onshore,-4.036105,55.632652,88.4,26,3.4,2019-09-15
775,Wales,Onshore,-3.200769,53.289670,1.8,2,0.9,2019-11-01
776,Scotland,Onshore,-4.373161,57.769620,29.9,13,2.3,2020-01-03
777,England,Offshore,1.420739,53.681541,1200.0,174,7.0,2020-02-06

In [19]:
data.electrical_capacity.sum()

23020.0